# This file lists the Python packages required for the project.
# Install them using the command:
# pip install -r requirements.txt

# For data simulation and Kafka communication
numpy
faker
kafka-python

# For data processing and storage
pandas
psycopg2-binary

# For real-time stream processing with Flink
apache-flink==1.15.2
